{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新建VIP</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">用户ID<font>*</font></td>
			<td><input type="text" name="user_id"  lay-verify="required" lay-reqText="请完善用户ID" value="" autocomplete="off" placeholder="请输入用户ID" class="layui-input"></td><td class="layui-td-gray-2">级别</td>
			<td><input type="text" name="level"  value="" autocomplete="off" placeholder="请输入级别" class="layui-input"></td><td class="layui-td-gray-2">订单ID<font>*</font></td>
			<td><input type="text" name="order_id"  lay-verify="required" lay-reqText="请完善订单ID" value="" autocomplete="off" placeholder="请输入订单ID" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">过期时间</td>
			<td><input type="text" name="expire_time"  value="" readonly id="laydate_expire_time" autocomplete="off" placeholder="请选择" class="layui-input"></td><td class="layui-td-gray-2">状态</td>
			<td>
				<input type="radio" name="status" value="0" title="选项一">
				<input type="radio" name="status" value="1" title="选项二">
			</td><td colspan='2'></td>
		</tr>
	</table>
	<div class="pt-3">
		<input type="hidden" name="id" value="0"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function feiniaoInit() {
		var form = layui.form, tool = layui.tool;
		//日期选择
		layui.laydate.render({
			elem: '#laydate_expire_time' //指定元素
		});
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("{:url('vip_log/add')}", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->