{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">编辑VIP</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray-2">过期时间</td>
			<td><input type="text" name="expire_time"  value="{$detail.expire_time|time_format=###,'Y-m-d H:i:s'}" readonly readonly id="laydate_expire_time" autocomplete="off" placeholder="请选择" class="layui-input"></td>
			<td class="layui-td-gray-2">状态</td>
			<td>
				<input type="radio" name="status" value="0" title="失败" {eq name="$detail.status" value="0"} checked{/eq}>
				<input type="radio" name="status" value="1" title="成功" {eq name="$detail.status" value="1"} checked{/eq}>
				<input type="radio" name="status" value="2" title="过期" {eq name="$detail.status" value="2"} checked{/eq}>
			</td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="order_id" value="{$detail.order_id}"/>
		<input type="hidden" name="level" value="{$detail.level}"/>
		<input type="hidden" name="user_id" value="{$detail.user_id}"/>
		<input type="hidden" name="id" value="{$detail.id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];
	function feiniaoInit() {
		var form = layui.form, tool = layui.tool;

		//日期选择
		layui.laydate.render({
			elem: '#laydate_expire_time',
			type: 'datetime',
			fullPanel: true // 2.8+
		});
				
		//监听提交
		form.on('submit(webform)', function (data) {			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("{:url('vip_log/edit')}", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->