{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">编辑金币流水</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">用户ID<font>*</font></td>
			<td><input type="text" name="user_id"  lay-verify="required" lay-reqText="请完善用户ID" value="{$detail.user_id}" autocomplete="off" placeholder="请输入用户ID" class="layui-input"></td><td class="layui-td-gray-2">变动类型0减1加</td>
			<td>
				<input type="radio" name="type" value="0" title="选项一" {eq name="$detail.type" value="1"} checked{/eq}>
				<input type="radio" name="type" value="1" title="选项二" {eq name="$detail.type" value="2"} checked{/eq}>
			</td><td class="layui-td-gray-2">数目<font>*</font></td>
			<td><input type="text" name="amount"  lay-verify="required" lay-reqText="请完善数目" value="{$detail.amount}" autocomplete="off" placeholder="请输入数目" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">余额</td>
			<td><input type="text" name="balance"  value="{$detail.balance}" autocomplete="off" placeholder="请输入余额" class="layui-input"></td><td class="layui-td-gray-2">标题</td>
			<td><input type="text" name="title"  value="{$detail.title}" autocomplete="off" placeholder="请输入标题" class="layui-input"></td><td colspan='2'></td>
		</tr>
	</table>
	<div class="py-3">
		<input type="hidden" name="id" value="{$detail.id}"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function feiniaoInit() {
		var form = layui.form, tool = layui.tool;
		
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("{:url('coin_log/edit')}", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->