{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">金币流水详情</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">用户ID</td>
			<td>{$detail.user_id}</td><td class="layui-td-gray-2">变动类型0减1加</td>
			<td>
				{eq name="$detail.type" value="0"}选项一{/eq}
				{eq name="$detail.type" value="1"}选项二{/eq}
			</td><td class="layui-td-gray-2">数目</td>
			<td>{$detail.amount}</td>
		</tr><tr><td class="layui-td-gray-2">余额</td>
			<td>{$detail.balance}</td><td class="layui-td-gray-2">标题</td>
			<td>{$detail.title}</td><td class="layui-td-gray-2">IP</td>
			<td>{$detail.ip}</td>
		</tr><tr><td class="layui-td-gray-2">添加时间</td>
			<td>{$detail.create_time|time_format=###,'Y-m-d'}</td><td class="layui-td-gray-2">更新时间</td>
			<td>{$detail.update_time|time_format=###,'Y-m-d'}</td><td colspan='2'></td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->