/.idea
/.vscode
/.gitee
*.log
*.lock
/runtime/*
/public/.user.ini
/public/storage/*
/public/backup/*
/public/static/home/feiniao/*
/public/static/quyuedu/*
/public/static/overseas/*
/addons/*
/template/*
/config/theme.php
/config/database.php