/.idea
/.vscode
/.gitee
*.log
*.env
*.lock
/runtime/*
/vendor/*
/public/.user.ini
/public/storage/*
/public/backup/*
/addons/caiji/*
/addons/caijipro/*
/addons/import/*
/addons/baiduspeech/*
/addons/changyan/*