
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{:url('/', [], '', true)}</loc>
        <lastmod>{:time_format(time(), 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>1.0</priority>
    </url>
    <url>
        <loc>{:url('shuku', [], 'html', true)}</loc>
        <lastmod>{:time_format(time(), 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>{:url('rank', [], 'html', true)}</loc>
        <lastmod>{:time_format(time(), 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>{:url('quanben', [], 'html', true)}</loc>
        <lastmod>{:time_format(time(), 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>0.9</priority>
    </url>
    {volist name=":model('category')->field('id,key,update_time,create_time')->where(['status' => 1,'pid' => 0])->order('ordernum asc')->select()" id="vo"}
<url>
        <loc>{:url('book_cates', ['id' => $vo['key'] ? $vo['key'] : $vo['id']], 'html', true)}</loc>
        <lastmod>{:time_format($vo['update_time'] ? $vo['update_time'] : $vo['create_time'], 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>0.9</priority>
    </url>
    {/volist}
    {volist name=":model('book')->field('id,filename,update_time,create_time')->where(['status' => 1])->order('create_time desc')->select()" id="v"}
<url>
        <loc>{:url('book_detail', ['id' => $v['filename'] ? $v['filename'] : $v['id']], 'html', true)}</loc>
        <lastmod>{:time_format($v['update_time'] ? $v['update_time'] : $v['create_time'], 'Y-m-d')}</lastmod>
        <changefreq>hourly</changefreq>
        <priority>0.9</priority>
    </url>
    {/volist}
</urlset>