{extend name="common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<table class="layui-hide" id="level" lay-filter="level"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
  	<button class="layui-btn layui-btn-sm addNew" type="button">+ 添加用户等级</button>
  </div>
</script>
{/block}
<!-- /主体 -->

{block name="script"}
<script>
	const moduleInit = ['tool'];
	function feiniaoInit() {
		var table = layui.table, tool = layui.tool;
		layui.pageTable = table.render({
			elem: '#level'
			, toolbar: '#toolbarDemo'
			, title: '用户等级列表'
			, url: "{:url('level/index')}"
			, page: false
			, cellMinWidth: 120
			, cols: [[
				{ field: 'id', width: 80, title: 'ID号', align: 'center' }
				, { field: 'title', title: '等级名称', width: 120, align: 'center' }
				, { field: 'desc', title: '等级描述' }
				// 新增字段开始
				, { 
					field: 'icons', title: '等级图标', width: 100, align: 'center', templet: function(d) {
						if(d.icons) {
							return '<img src="' + d.icons + '" style="width:30px;height:30px;border-radius:50%;" onerror="this.src=\'{__ASSETS__}/init/images/nonepic600x360.jpg\'">';
						}
						return '<span style="color:#ccc">无图标</span>';
					}
				}
				, { field: 'duration', title: '有效期(天)', width: 120, align: 'center' }
				, { field: 'coin', title: '金币数量', width: 100, align: 'center' }
				, { 
					field: 'price', title: '价格(元)', width: 100, align: 'center', templet: function(d) {
						return '¥' + d.price;
					}
				}
				// 新增字段结束
				, {
					field: 'status', title: '状态', width: 80, align: 'center', templet: function (d) {
						var html1 = '<span>正常</span>';
						var html2 = '<span style="color:#FF5722">禁用</span>';
						if (d.status == 1) {
							return html1;
						} else {
							return html2;
						}
					}
				}
				, {
					width: 100, title: '操作', align: 'center', templet: function (d) {
						var html = '';
						var btn = '<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>';
						var btn1 = '<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">禁用</a>';
						var btn2 = '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="open">启用</a>';
						if (d.status == 1) {
							html = '<div class="layui-btn-group">' + btn + btn1 + '</div>';
						} else {
							html = '<div class="layui-btn-group">' + btn + btn2 + '</div>';
						}
						return html;
					}
				}
			]]
		});

		table.on('tool(level)', function (obj) {
			if (obj.event === 'edit') {
				addExpense(obj.data.id, obj.data.title, obj.data.desc, 
						obj.data.icons, obj.data.duration, obj.data.coin, obj.data.price);
			}
			if (obj.event === 'disable') {
				layer.confirm('确定要禁用该等级吗?', { icon: 3, title: '提示' }, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("{:url('level/disable')}", { id: obj.data.id, status: 0 }, callback);
					layer.close(index);
				});
			}
			if (obj.event === 'open') {
				layer.confirm('确定要启用该等级吗?', { icon: 3, title: '提示' }, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("{:url('level/disable')}", { id: obj.data.id, status: 1 }, callback);
					layer.close(index);
				});
			}
		});

		$('body').on('click', '.addNew', function () {
			addExpense(0, '', '', '', 0, 0, '0.00');
		});

		function addExpense(id, title, desc, icons, duration, coin, price) {
			var biaoti = '新增等级';
			if (id > 0) {
				biaoti = '编辑等级';
			}

			// 设置默认值
			icons = icons || '';
			duration = duration || 0;
			coin = coin || 0;
			price = price || '0.00';

			layer.open({
				type: 1
				, title: biaoti
				, area: ['600px', '650px']
				, id: 'LAY_module'
				, btn: ['确定', '取消']
				, btnAlign: 'c'
				, content: '<div style="padding:20px;">' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">等级名称</label>' +
							'<div class="layui-input-block">' +
								'<input type="hidden" name="id" value="'+ id + '">' +
								'<input type="text" name="title" autocomplete="off" value="'+ title + '" placeholder="请输入等级名称" class="layui-input">' +
							'</div>' +
							'</div>' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">等级描述</label>' +
							'<div class="layui-input-block">' +
								'<textarea name="desc" placeholder="请输入等级描述，100字以内" class="layui-textarea">'+ desc + '</textarea>' +
							'</div>' +
							'</div>' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">等级图标</label>' +
							'<div class="layui-input-block">' +
								'<div class="layui-upload">' +
								'<button type="button" class="layui-btn layui-btn-sm" id="upload_btn_icons">上传图标</button><br>' +
								'<div class="layui-upload-list" id="upload_box_icons" style="width: 60px; height:60px; overflow: hidden;display:inline-block;vertical-align:middle;">' +
									'<img src="'+ (icons ? icons : '{__ASSETS__}/init/images/nonepic600x360.jpg') + '" style="width:100%;height:100%;object-fit:cover;" onerror="this.src=\'{__ASSETS__}/init/images/nonepic600x360.jpg\'">' +
									'<input type="hidden" name="icons" value="'+ icons + '">' +
								'</div>' +
								'<span style="margin-left:10px;color:#999;vertical-align:middle;">建议尺寸: 60x60px</span>' +
								'</div>' +
							'</div>' +
							'</div>' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">有效期</label>' +
							'<div class="layui-input-inline" style="width:200px;">' +
								'<input type="number" name="duration" autocomplete="off" value="'+ duration + '" placeholder="请输入有效期天数" class="layui-input">' +
							'</div>' +
							'<div class="layui-form-mid">天，0为永久</div>' +
							'</div>' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">金币数量</label>' +
							'<div class="layui-input-inline" style="width:200px;">' +
								'<input type="number" name="coin" autocomplete="off" value="'+ coin + '" placeholder="请输入金币数量" class="layui-input">' +
							'</div>' +
							'</div>' +
							'<div class="layui-form-item">' +
							'<label class="layui-form-label">价格</label>' +
							'<div class="layui-input-inline" style="width:200px;">' +
								'<input type="number" name="price" step="0.01" autocomplete="off" value="'+ price + '" placeholder="请输入价格" class="layui-input">' +
							'</div>' +
							'<div class="layui-form-mid">元</div>' +
							'</div>' +
						'</div>'
				, success: function(layero, index) {
					// 初始化图标上传功能
					var upload_icons = layui.upload.render({
						elem: '#upload_btn_icons',
						url: '{:url("api/upload")}',
						done: function (res) {
							if (res.code == 1) {
								return layer.msg('上传失败');
							}
							$('#upload_box_icons input').val(res.data.filepath);
							$('#upload_box_icons img').attr('src', res.data.filepath);
						},
						error: function() {
							layer.msg('上传失败，请重试');
						}
					});
				}
				, yes: function (index) {
					let id = $('#LAY_module').find('[name="id"]').val();
					let title = $('#LAY_module').find('[name="title"]').val();
					let desc = $('#LAY_module').find('[name="desc"]').val();
					// 获取新增字段的值
					let icons = $('#LAY_module').find('[name="icons"]').val();
					let duration = $('#LAY_module').find('[name="duration"]').val();
					let coin = $('#LAY_module').find('[name="coin"]').val();
					let price = $('#LAY_module').find('[name="price"]').val();

					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload();
						}
					}
					
					tool.post("{:url('level/add')}", {
						id: id,
						title: title,
						desc: desc,
						icons: icons,
						duration: duration,
						coin: coin,
						price: price
					}, callback);
					return false;
				}
				, btn2: function () {
					layer.closeAll();
				}
			});
		}
	}
</script>
{/block}