{extend name="common/base"/}
{block name="style"}
{/block}
{block name="title"}
<title>{:get_seo_str('classify','classify_title','',['cateid'=>$id])}</title>	
{/block}
{block name="keywords"}
<meta name="keywords" content="{:get_seo_str('classify','classify_keywords','',['cateid'=>$id])}"/>
<meta name="description" content="{:get_seo_str('classify','classify_description','',['cateid'=>$id])}"/>
{/block}
<!-- 主体 -->
{block name="body"}
{include file="common/header" nav='index' /}
<div class="container" style="display: flex; height: 60vh; align-items: center; justify-content: center;">
敬请期待！
</div>
{/block}
<!-- 脚本 -->
{block name="script"}
<script>
</script>
{/block}
<!-- /脚本 -->