{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<style>
	[data-field="title"], [data-field="title"] div {
		min-width: 200px;
		text-align: left;
	}
	[data-field="link"], [data-field="link"] div {
		min-width: 200px;
		text-align: left;
	}
</style>
<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="请输入关键字" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="searchform">提交搜索</button>
		</div>
	</form>
	<table class="layui-hide" id="advsr" lay-filter="advsr"></table>
</div>

<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<span class="layui-btn layui-btn-sm" lay-event="add" data-title="添加广告">+ 添加广告</span>
	</div>
</script>

<script type="text/html" id="barDemo">
<div class="layui-btn-group"><a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a><a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a></div>
</script>

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function feiniaoInit() {
		var table = layui.table,tool = layui.tool, form = layui.form;
		layui.pageTable = table.render({
			elem: '#advsr',
			title: '广告列表',
			toolbar: '#toolbarDemo',
			url: "{:url('advsr/datalist')}?pid={$pid}",
			page: true,
			limit: 20,
			cols: [
				[
				{
					fixed: 'left',
					field: 'id',
					title: '编号',
					align: 'center',
					width: 80
				},{
					field: 'title',
					title: '标题',
					templet:function(d) {
						return "<span style='color:" + d.color + ";'>" + d.title + "</span>";
					}
				},{
					field: 'adver_title',
					title: '广告位置',
					align: 'center',
					width: 150
				},{
					field: 'images',
					title: '图片地址',
					align: 'center',
					width: 100,
					templet:function(d) {
						return d.images ? '<img src="' + d.images + '" width="80" onclick="showBigImage(this)">' : '--';
					}
				},{
					field: 'introduction',
					title: '描述',
					align: 'center',
					width: 100,
					templet:function(d) {
						return d.introduction ? d.introduction : '--';
					}
				},{
					field: 'type',
					title: '类型',
					align: 'center',
					width: 100,
					templet:function(d) {
						return parseInt(d.type) === 1 ? '作品' : (parseInt(d.type) === 2 ? '作者' : (parseInt(d.type) === 3 ? '链接' :  (parseInt(d.type) === 6 ? '内容' : '其他')));
					}
				},{
					field: 'link',
					title: '链接地址',
					align: 'center',
					width: 100,
					templet:function(d) {
						return d.link ? d.link : '--';
					}
				},{
					field: 'books',
					title: '作品ID',
					align: 'center',
					width: 100,
					templet:function(d) {
						return d.books ? d.books : '--';
					}
				},{
					field: 'hits',
					title: '点击',
					align: 'center',
					width: 100
				},{
					field: 'level',
					title: '排序',
					align: 'center',
					width: 100
				},{
					field: 'status',
					title: '状态',
					align: 'center',
					width: 100,
					templet:function(d) {
						return parseInt(d.status) === 1 ? '<i class="layui-icon layui-icon-ok" style="color: #16b777;"></i>' : '<i class="layui-icon layui-icon-close"></i>';
					}
				},{
					field: 'start_time',
					title: '开始时间',
					align: 'center',
					width: 150,
					templet:function(d) {
						return d.start_time ? layui.util.toDateString((parseInt(d.start_time) * 1000), 'yyyy-MM-dd HH:mm:ss') : '--';
					}
				},{
					field: 'end_time',
					title: '结束时间',
					align: 'center',
					width: 150,
					templet:function(d) {
						return d.end_time ? layui.util.toDateString((parseInt(d.end_time) * 1000), 'yyyy-MM-dd HH:mm:ss') : '--';
					}
				},{
					field: 'create_time',
					title: '创建时间',
					align: 'center',
					width: 150
				},{
					field: 'update_time',
					title: '更新时间',
					align: 'center',
					width: 150
				},
				{
					fixed: 'right',
					field: 'right',
					title: '操作',
					toolbar: '#barDemo',
					width: 100,
					align: 'center'
				}				
				]
			]
		});

		window.showBigImage = function (e) {
			layer.open({
				type: 1,
				title: false,
				closeBtn: true,
				shadeClose: true, //点击阴影关闭
				area: [$(e).width + 'px', $(e).height + 'px'], //宽高
				content: "<img src=" + $(e).attr('src') + " />"
			});
		};
		
		//监听表头工具栏事件
		table.on('toolbar(advsr)', function(obj){
			if (obj.event === 'add') {
				tool.side("{:url('advsr/add')}?pid={$pid}");
				return false;
			}
		});

		//监听表格行工具事件
		table.on('tool(advsr)', function(obj) {
			var data = obj.data;
			if (obj.event === 'read') {
				tool.side("{:url('advsr/read')}?id="+obj.data.id);
			}
			else if (obj.event === 'edit') {
				tool.side("{:url('advsr/edit')}?id="+obj.data.id);
			}
			else if (obj.event === 'del') {
				layer.confirm('确定要删除该记录吗?', {
					icon: 3,
					title: '提示'
				}, function(index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							obj.del();
						}
					}
					tool.delete("{:url('advsr/del')}", { id: data.id }, callback);
					layer.close(index);
				});
			}
			return false;
		});

		//监听搜索提交
		form.on('submit(searchform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->