{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新建点赞</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">用户ID<font>*</font></td>
			<td><input type="text" name="user_id"  lay-verify="required" lay-reqText="请完善用户ID" value="" autocomplete="off" placeholder="请输入用户ID" class="layui-input"></td><td class="layui-td-gray-2">作品ID<font>*</font></td>
			<td><input type="text" name="book_id"  lay-verify="required" lay-reqText="请完善作品ID" value="" autocomplete="off" placeholder="请输入作品ID" class="layui-input"></td><td class="layui-td-gray-2">章节ID<font>*</font></td>
			<td><input type="text" name="chapter_id"  lay-verify="required" lay-reqText="请完善章节ID" value="" autocomplete="off" placeholder="请输入章节ID" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">点赞日期</td>
			<td><input type="text" name="like_date"  value="" readonly id="laydate_like_date" autocomplete="off" placeholder="请选择" class="layui-input"></td><td colspan='4'></td>
		</tr>
	</table>
	<div class="pt-3">
		<input type="hidden" name="id" value="0"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function feiniaoInit() {
		var form = layui.form, tool = layui.tool;
		//日期选择
		layui.laydate.render({
			elem: '#laydate_like_date' //指定元素
		});
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("{:url('like_log/add')}", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->