{extend name="common/base"/}
{block name="style"}
<link rel="stylesheet" href="{__STATIC__}/home/style/index.css?v={$conf.version}">
{/block}
{block name="title"}
<title>{:get_seo_str('home','home_title')}</title>	
{/block}
{block name="keywords"}
<meta name="keywords" content="{:get_seo_str('home','home_keywords')}"/>
<meta name="description" content="{:get_seo_str('home','home_description')}"/>
{/block}
<!-- 主体 -->
{block name="body"}
	{include file="common/header" nav='info' /}

	<section class="hero-area">
		<div class="hero-circle">
			<img class="circle-1" src="{__STATIC__}/home/image/top-circle-1.png" alt="messing">
			<img class="circle-2" src="{__STATIC__}/home/image/top-circle-1.png" alt="messing">
		</div>
		<div class="container">
			<div class="row slider_list owl-carousel">
				{php}$slide = model('slide_info')->where(['slide_id'=>1, 'status' => 1])->order('sort desc')->select()->toArray();{/php}
				{notempty name="slide"}
					{volist name="$slide" id="v"}
						{eq name="$v.type" value="2"}
							{$v.desc|raw}
						{/eq}
						{eq name="$v.type" value="1"}
							<a href="{$v.src}" target="_blank"><img src="{:get_file($v.img)}" alt="{$v.title}"></a>
						{/eq}
					{/volist}				
				{/notempty}
			</div>
		</div>
	</section>

	<div class="container">
		<section class="home-tap-link">
			<div class="home-tap-link__left" >
				<a href="{:url('quanben')}" title="全本" class="home-tap-link__left-item">
					<div><img src="{__STATIC__}/home/image/4cda7fc.png" class="animation-img"></div><span>全本</span>
				</a>
				<a href="{:url('rank')}" title="排行榜" class="home-tap-link__left-item">
					<div><img src="{__STATIC__}/home/image/624b3b7.png" class="animation-img"></div><span>排行</span>
				</a>
				<a href="{:url('shuku')}" title="书库" class="home-tap-link__left-item" >
					<div><img src="{__STATIC__}/home/image/f99bbe4.png" class="animation-img"></div><span>书库</span>
				</a>
			</div>
			<div class="home-tap-link__center">
				{volist name=":model('category')->where(['status' => 1,'pid' => 0])->order('ordernum asc')->select()" id="vo"}
					<a href="{:furl('book_cates', ['id'=>$vo.key ? $vo.key : $vo.id], true, 'home')}" title="{$vo.name}" class="home-tap-link__center-item">{$vo.name}</a>
                {/volist}
			</div>
			<div class="home-tap-link__right">
				<a href="javascript:;" class="home-tap-link__right-item">我的书架</a>
				<a href="javascript:;" class="home-tap-link__right-item">阅读记录</a>
				<a href="javascript:;"  class="home-tap-link__right-item">投稿指南</a>
				<a href="javascript:;" class="home-tap-link__right-item">完本专区</a>
				<a href="javascript:;" class="home-tap-link__right-item">加入我们</a>
				<a href="javascript:;" class="home-tap-link__right-item">帮助中心</a>
			</div>
		</section>
	</div>

	{php}$notice = model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_notice'], 'type' => 6])->order('level desc')->limit(6)->select()->toArray();{/php}
	{notempty name="notice"}
		<div class="container">
			<section class="home-activities">
				<div data-sa-c="{ event: 'clickRecommend' }" class="home-activities__main">
					<div class="home-activities__main-list">
						{volist name="$notice" id="v"}
							<div class="home-activities__main-list-item">
								<a href="{:url('notice_detail',['id' => $v['id']])}" target="_blank" title="{$v.title}" class="ellipsis global-hover home-activities__main-list-item_title">{:dsubstr($v.title,46)}</a><span>{:time_format($v.create_time,'m-d')}</span>
							</div>
						{/volist}						
					</div>
				</div>
			</section>
		</div>
	{/notempty}

	<div class="container">
		<section class="editor-recommend">
			<section class="common-module">
				<div class="common-module__title"><span class="">主编力荐</span> </div>
				<div>
					<div class="editor-recommend__left">
						{php}$home_editor_main = isset($pageconf['home_editor_main']) ? model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_editor_main']])->order('level desc')->find() : '';{/php}
						{notempty name="home_editor_main"}
							{php}
								$book = model('book')->where(['id' => $home_editor_main['books']])->find();
								$link = $book ? url('book_detail', ['id' => $book['filename'] ? $book['filename'] : $book['id']]) : '';					
							{/php}
							{notempty name="book"}
								<div class="editor-recommend__left-coverImage global-book--shadow">
									<div class="editor-recommend__left-coverImage-cover global-book--frame">
										<a href="{$link}" target="_blank" title="{$home_editor_main.title}">
											<img src="{$home_editor_main.images}" alt="{$home_editor_main.title}" class="animation-img editor-recommend__left-coverImage-img">
										</a>
									</div>
									<div class="editor-recommend__left-coverImage-shadow global-radius"></div>
								</div>
								<div class="editor-recommend__left-currInfo">
									<a href="{$link}" target="_blank" title="{$home_editor_main.title}" class="currInfo-title global-hover ellipsis-two-lines">
										{$home_editor_main.title}
									</a>
									<a href="{$link}" target="_blank" title="{$home_editor_main.title}" class="currInfo-author ellipsis global-hover">
										{$book.author}
									</a>
									<a href="{$link}" target="_blank" title="{$home_editor_main.title}" class="currInfo-desc ellipsis-two-lines">
										{$home_editor_main.introduction}
									</a>
								</div>
							{/notempty}
						{/notempty}
					</div>
				</div>
			</section>
			<div class="editor-recommend__center">
				<div class="editor-recommend__center-recommend">
					{php}$home_editor_images = isset($pageconf['home_editor_images']) ? model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_editor_images']])->order('level desc')->limit(6)->select()->toArray() : '';{/php}
					{notempty name="home_editor_images"}					
					{volist name="$home_editor_images" id="v"}
						{php}
							$book = model('book')->where(['id' => $v['books']])->find();
							$link = $book ? url('book_detail', ['id' => $book['filename'] ? $book['filename'] : $book['id']]) : '';				
						{/php}
						{notempty name="book"}
							<div class="recommend-item">
								<div class="recommend-img global-book--shadow">
									<a href="{$link}" target="_blank" title="{$v.title}" class="recommend-img--cover global-radius global-book--frame">
										<img src="{$v.images}" alt="{$v.title}" class="animation-img">
									</a>
								</div>
								<div class="recommend-content">
									<div class="recommend-title ellipsis-two-lines global-hover">
										<a href="{$link}" target="_blank" title="{$v.title}" class="recommend-title ellipsis-two-lines global-hover">{$v.title}</a>
									</div>
									<div class="recommend-desc ellipsis-two-lines global-hover">
										<a href="{$link}" target="_blank" title="{$v.title}" class="recommend-desc ellipsis-two-lines global-hover">
											{$v.introduction}
										</a>
									</div>
									<div class="recommend-type ellipsis">
										<a href="{$link}" title="{$book.author}" target="_blank" class="global-hover">{$book.author}</a>
										<span>·</span>
										<a href="{$link}" title="{$v.title}" target="_blank" class="global-hover">{$book.isfinish == 2 ? '完结' : '连载'}</a>
									</div>
								</div>
							</div>
						{/notempty}
					{/volist}
					{/notempty}
				</div>
			</div>
			<section class="zh-modules-rank editor-recommend__rank">
				<div class="editor-recommend__rank-title"></div>
				<div class="zh-modules-rank-box">
					{php}$home_editor_top = isset($pageconf['home_editor_top']) ? model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_editor_top']])->order('level desc')->limit(10)->select()->toArray() : '';{/php}
					{notempty name="home_editor_top"}
						{volist name="$home_editor_top" id="v"}
							{php}$book = model('book')->where(['id' => $v['books']])->find();{/php}
							{notempty name="book"}
							<div class="zh-modules-rank-book">
								{eq name="$key" value="0"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/1940777.png" alt="{$v.title}"></div>{/eq}
								{eq name="$key" value="1"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/e452c9d.png" alt="{$v.title}"></div>{/eq}
								{eq name="$key" value="2"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/65b1446.png" alt="{$v.title}"></div>{/eq}
								{if condition="$key > 2 && $key < 9"}
									<div class="book-rank--num"><span>0{$key+1}</span></div>
								{/if}
								{eq name="$key" value="9"}<div class="book-rank--num"><span>10</span></div>{/eq}								
								<div class="book-rank--title">
									<p class="book-rank--title-text ellipsis"><a title="{$v.title}" target="_blank" href="{:url('book_detail', ['id' => $book['filename'] ? $book['filename'] : $book['id']])}" class="global-hover">{$v.title}</a></p>
									<div class="editor-recommend__rank-text">{$book.isfinish == 2 ? '完结' : '连载'}</div>
								</div>						
							</div>
							{/notempty}
						{/volist}
					{/notempty}
				</div>
			</section>
		</section>
	</div>

	{php}$home_banner_1 = isset($pageconf['home_banner_1']) ? model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_banner_1']])->order('level desc')->find() : '';{/php}
	{notempty name="home_banner_1"}
	<div class="container">
		<a href="{$home_banner_1.link}" target="_blank" class="home-advertising">
			<img src="{$home_banner_1.images}">
		</a>
	</div>
	{/notempty}

	<div class="container">
		<section class="website-rank">
			<div class="website-rank__main">
				<section class="zh-modules-rank website-rank__list" style="background-image:url('{__STATIC__}/home/image/8df48f1.png');">
					<div class="zh-modules-rank-box">
						{php}$chapter_top = model('book')->where(['status' => 1])->order('chapters desc')->limit(10)->select()->toArray();{/php}
						{notempty name="chapter_top"}
						{volist name="$chapter_top" id="vo"}
						{php}$link = url('book_detail', ['id' => $vo['filename'] ? $vo['filename'] : $vo['id']]);{/php}
						<div class="zh-modules-rank-book">
							{eq name="$key" value="0"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/1940777.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="1"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/e452c9d.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="2"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/65b1446.png" alt="{$vo.title}"></div>{/eq}
							{if condition="$key > 2 && $key < 9"}
								<div class="book-rank--num"><span>0{$key+1}</span></div>
							{/if}
							{eq name="$key" value="9"}<div class="book-rank--num"><span>10</span></div>{/eq}
							<div class="book-rank--title">
								<p class="book-rank--title-text ellipsis"><a title="{$vo['title']}" target="_blank" href="{$link}" class="global-hover">{$vo['title']}</a></p>
								<div class="website-rank__rank-text">{$vo.chapters}</div>
							</div>
						</div>
						{/volist}
						{/notempty}
					</div>
				</section>
				<section class="zh-modules-rank website-rank__list" style="background-image:url('{__STATIC__}/home/image/77e71dd.png');">
					<div class="zh-modules-rank-box">
						{php}$words_top = model('book')->where(['status' => 1])->order('words desc')->limit(10)->select()->toArray();{/php}
						{notempty name="words_top"}
						{volist name="$words_top" id="vo"}
						{php}$link = url('book_detail', ['id' => $vo['filename'] ? $vo['filename'] : $vo['id']]);{/php}
						<div class="zh-modules-rank-book">
							{eq name="$key" value="0"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/1940777.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="1"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/e452c9d.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="2"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/65b1446.png" alt="{$vo.title}"></div>{/eq}
							{if condition="$key > 2 && $key < 9"}
								<div class="book-rank--num"><span>0{$key+1}</span></div>
							{/if}
							{eq name="$key" value="9"}<div class="book-rank--num"><span>10</span></div>{/eq}
							<div class="book-rank--title">
								<p class="book-rank--title-text ellipsis"><a title="{$vo['title']}" target="_blank" href="{$link}" class="global-hover">{$vo['title']}</a></p>
								<div class="website-rank__rank-text">{:ceil($vo.words/10000)}万</div>
							</div>
						</div>
						{/volist}
						{/notempty}
					</div>
				</section>
				<section class="zh-modules-rank website-rank__list" style="background-image:url('{__STATIC__}/home/image/b51874d.png');">
					<div class="zh-modules-rank-box">
						{php}$hits_top = model('book')->where(['status' => 1])->order('hits desc')->limit(10)->select()->toArray();{/php}
						{notempty name="hits_top"}
						{volist name="$hits_top" id="vo"}
						{php}$link = url('book_detail', ['id' => $vo['filename'] ? $vo['filename'] : $vo['id']]);{/php}
						<div class="zh-modules-rank-book">
							{eq name="$key" value="0"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/1940777.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="1"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/e452c9d.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="2"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/65b1446.png" alt="{$vo.title}"></div>{/eq}
							{if condition="$key > 2 && $key < 9"}
								<div class="book-rank--num"><span>0{$key+1}</span></div>
							{/if}
							{eq name="$key" value="9"}<div class="book-rank--num"><span>10</span></div>{/eq}
							<div class="book-rank--title">
								<p class="book-rank--title-text ellipsis"><a title="{$vo['title']}" target="_blank" href="{$link}" class="global-hover">{$vo['title']}</a></p>
								<div class="website-rank__rank-text">{$vo.hits > 0 ? $vo.hits : '--' }</div>
							</div>
						</div>
						{/volist}
						{/notempty}
					</div>
				</section>
				<section class="zh-modules-rank website-rank__list" style="background-image:url('{__STATIC__}/home/image/9269490.png');">
					<div class="zh-modules-rank-box">
						{php}
						$book_count = model('book')->where(['status' => 1, ['chapters', '>', 0]])->count();
						if($book_count > 10) {
							$start = mt_rand(0, ($book_count - 10));
						} else {
							$start = 0;
						}
						$rand_top = model('book')->where(['status' => 1, ['chapters', '>', 0]])->order('chapters desc')->limit($start, 10)->select()->toArray();
						{/php}
						{notempty name="rand_top"}
						{volist name="$rand_top" id="vo"}
						{php}$link = url('book_detail', ['id' => $vo['filename'] ? $vo['filename'] : $vo['id']]);{/php}
						<div class="zh-modules-rank-book">
							{eq name="$key" value="0"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/1940777.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="1"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/e452c9d.png" alt="{$vo.title}"></div>{/eq}
							{eq name="$key" value="2"}<div class="book-rank--num"><img src="{__STATIC__}/home/image/65b1446.png" alt="{$vo.title}"></div>{/eq}
							{if condition="$key > 2 && $key < 9"}
								<div class="book-rank--num"><span>0{$key+1}</span></div>
							{/if}
							{eq name="$key" value="9"}<div class="book-rank--num"><span>10</span></div>{/eq}
							<div class="book-rank--title">
								<p class="book-rank--title-text ellipsis"><a title="{$vo['title']}" target="_blank" href="{$link}" class="global-hover">{$vo['title']}</a></p>
								<div class="website-rank__rank-text">{$vo.chapters}</div>
							</div>
						</div>
						{/volist}
						{/notempty}
					</div>
				</section>
			</div>
		</section>
	</div>

	{php}$home_banner_buttom = isset($pageconf['home_banner_buttom']) ? model('advsr')->where(['status' => 1, 'adver_id' => $pageconf['home_banner_buttom']])->order('level desc')->find() : '';{/php}
	{notempty name="home_banner_buttom"}
	<div class="container">
		<a href="{$home_banner_buttom.link}" target="_blank" class="home-advertising">
			<img src="{$home_banner_buttom.images}">
		</a>
	</div>
	{/notempty}

	<div class="container">
		<section class="novel-update">
			<div class="zh-modules-nav">
				<div class="zh-modules-nav-cont">
					<div class="zh-modules-nav--item currTab"><span>最近更新</span></div>					
					<div class="el-tabs__active-bar"></div>
				</div>
			</div>
			<div class="novel-update__update-main">
				<div class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
					data-v-78500626="">
					<div class="hidden-columns">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="el-table__header-wrapper">
						<table cellspacing="0" cellpadding="0" border="0" class="el-table__header">
							<colgroup>		
								<col name="el-table_1_column_1" width="90">
								<col name="el-table_1_column_2" width="300">
								<col name="el-table_1_column_3" width="350">
								<col name="el-table_1_column_4" width="100">
								<col name="el-table_1_column_5" width="180">
								<col name="el-table_1_column_6" width="180">
								<col name="gutter" width="0">
							</colgroup>
							<thead class="has-gutter">
								<tr class="">
									<th colspan="1" rowspan="1" class="el-table_1_column_1     is-leaf el-table__cell">
										<div class="cell">类别</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_1_column_2     is-leaf el-table__cell">
										<div class="cell">书名</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_1_column_3     is-leaf el-table__cell">
										<div class="cell">章节名称</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_1_column_4     is-leaf el-table__cell">
										<div class="cell">字数</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_1_column_5     is-leaf el-table__cell">
										<div class="cell">作者</div>
									</th>
									<th colspan="1" rowspan="1" class="el-table_1_column_6     is-leaf el-table__cell">
										<div class="cell">更新时间</div>
									</th>
									<th class="el-table__cell gutter" style="width: 0px; display: none;"></th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="el-table__body-wrapper is-scrolling-none">
						<table cellspacing="0" cellpadding="0" class="el-table__body">
							<colgroup>
								<col name="el-table_1_column_1" width="90">
								<col name="el-table_1_column_2" width="300">
								<col name="el-table_1_column_3" width="350">
								<col name="el-table_1_column_4" width="100">
								<col name="el-table_1_column_5" width="180">
								<col name="el-table_1_column_6" width="180">
							</colgroup>
							<tbody>
								{php}
									$update_list = model('book')->field('id,genre,title as booktitle,filename,create_time,words,author')->where(['status' => 1])->order('create_time desc')->limit(20)->select()->toArray();
									if(!empty($update_list)) {
										foreach ($update_list as $k => $vo) {
											$update_list[$k]['link'] = (string) url('book_detail', ['id' => $vo['filename'] ? $vo['filename'] : $vo['id']]);
											if($vo['genre']) {
												$category = model('category')->where(['status' => 1, 'id' => $vo['genre']])->find();
												$update_list[$k]['genrelink'] = $category ? (string) url('book_cates', ['id' => $category['key'] ? $category['key'] : $category['id']]) : 'javascript:;';
												$update_list[$k]['genrename'] = $category ? $category['name'] : '--';
											} else {
												$update_list[$k]['genrename'] = '--';
												$update_list[$k]['genrelink'] = 'javascript:;';
											}
											$chapter = model('chapter')->field('id,bookid,title,chaps,create_time')->where(['bookid' => $vo['id'], 'status' => 1, ['verify', 'in', '0,1']])->order('create_time desc')->find();
											$update_list[$k]['chapterlink'] = $chapter ? (string) url('chapter_detail', ['id' => $chapter['id']]) : 'javascript:;';
											$update_list[$k]['title'] = $chapter ? $chapter['title'] : '--';
										}
									}
								{/php}
								{notempty name="update_list"}
									{volist name="$update_list" id="vo"}										
										<tr class="el-table__row">
											<td rowspan="1" colspan="1" class="el-table_1_column_1 el-table__cell">
												{notempty name="$vo['genre']"}
													<div class="cell"><a title="{$vo['genrename']}" href="{$vo['genrelink']}" target="_blank" class="table-list--type global-hover">{$vo['genrename']}</a></div>
												{else/}
													<div class="cell"><a href="{$vo['genrelink']}" class="table-list--type global-hover">{$vo['genrename']}</a></div>
												{/notempty}
											</td>
											<td rowspan="1" colspan="1" class="el-table_1_column_2 el-table__cell">
												<div class="cell">
													<div class="ellipsis"><a title="{$vo['booktitle']}" href="{$vo['link']}" target="_blank" class="bookName global-hover update-bookName">{$vo['booktitle']}</a></div>
												</div>
											</td>
											<td rowspan="1" colspan="1" class="el-table_1_column_3 el-table__cell">
												<div class="cell"><a href="{$vo['chapterlink']}" target="_blank" title="{$vo.title}" class="ellipsis chapter global-hover">{$vo.title}</a></div>
											</td>
											<td rowspan="1" colspan="1" class="el-table_1_column_4 el-table__cell">
												<div class="cell">
													<div class="ellipsis">
														{:ceil($vo.words/10000)}万字
													</div>
												</div>
											</td>
											<td rowspan="1" colspan="1" class="el-table_1_column_5 el-table__cell">
												<div class="cell">
													<div class="ellipsis global-hover">{$vo['author']}</div>
												</div>
											</td>
											<td rowspan="1" colspan="1" class="el-table_1_column_6 el-table__cell">
												<div class="cell">
													<div class="ellipsis">
														{:time_format($vo.create_time)}
													</div>
												</div>
											</td>
										</tr>
									{/volist}
								{/notempty}								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>

	{php}$links = model('links')->where(['status' => 1])->order('sort desc')->select()->toArray();{/php}
	{notempty name="links"}
	<div class="container comm_friendLnk">
		<div class="comm_footer_partner">
			<div class="partner-title">合作伙伴</div>
			<div class="comm_footer_friendLnk">
				{volist name="$links" id="v"}
				<a href="{$v.src}"{eq name="$v.target" value="1"} target="_blank"{/eq}>{$v.name}</a>
				{/volist}
			</div>
		</div>
	</div>
	{/notempty}

{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}	
    <script>
		$(document).ready(function() {
			$('.slider_list').owlCarousel({
				loop: true,
				autoplay: true,
				autoplayTimeout: 5000,
				dots: false,
				nav: false,
				navText: ["<i class='bi bi-arrow-left''></i>", "<i class='bi bi-arrow-right''></i>"],
				responsive: {
				0: {
					items: 1
				},
				768: {
					items: 1
				},
				992: {
					items: 1
				},
				1000: {
					items: 1
				},
				1920: {
					items: 1
				}
				}
			})
		});
    </script>
{/block}
<!-- /脚本 -->