{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<form class="layui-form gg-form-bar border-t border-x">
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="昵称/真实姓名/手机号" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="start_time" readonly placeholder="注册开始时间" name="start_time">
		</div>
		~
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" class="layui-input" id="end_time" readonly placeholder="注册结束时间" name="end_time">
		</div>
		<div class="layui-input-inline">
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">提交搜索</button>
		</div>
	</form>
	<table class="layui-hide" id="user" lay-filter="user"></table>
</div>
<script type="text/html" id="status">
	<i class="layui-icon {{#  if(d.status == 1){ }}layui-icon-ok{{#  } else { }}layui-icon-close{{#  } }}"></i>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool'];
	function feiniaoInit() {
		var tool = layui.tool, table = layui.table, laydate = layui.laydate, form = layui.form;
		laydate.render({
			elem: '#start_time',
			type: 'date'
		});

		laydate.render({
			elem: '#end_time',
			type: 'date'
		});

		layui.pageTable = table.render({
			elem: '#user',
			title: '用户列表',
			toolbar: '#toolbarDemo',
			url: '{:url("user/index")}', //数据接口
			page: true, //开启分页
			limit: 20,
			cols: [
				[ //表头
					{
						field: 'id',
						title: 'ID号',
						align: 'center',
						width: 90
					}, {
						field: 'headimgurl',
						title: '头像',
						align: 'center',
						width: 100,
						templet:function(d) {
							return d.headimgurl ? '<img src="' + d.headimgurl + '" width="80" onclick="showBigImage(this)">' : '--';
						}
					}, {
						field: 'author_id',
						title: '是否为作者',
						align: 'center',
						width: 100,
						templet:function(d) {
							return parseInt(d.author_id) > 0 ? '<i class="layui-icon layui-icon-ok" style="color: #16b777;"></i>' : '<i class="layui-icon layui-icon-close"></i>';
						}
					}, {						
						field: 'nickname',
						title: '昵称',
						align: 'center',
						width: 200
					}, {
						field: 'level_name',
						title: '会员等级',
						align: 'center',
						width: 90
					}, {
						field: 'sex',
						title: '性别',
						align: 'center',
						width: 60,
						templet: function (d) {
							var html = '--';
							if (d.sex == 1) {
								html = '男'
							} else if (d.sex == 2) {
								html = '女'
							}
							return html;
						}
					}, {
						field: 'name',
						title: '真实姓名',
						align: 'center',
						width: 130,
						templet:function(d) {
							return d.name ? d.name : '--';
						}
					}, {
						field: 'realname_status',
						title: '实名认证',
						align: 'center',
						width: 100,
						templet:function(d) {
							return parseInt(d.realname_status) === 1 ? '<i class="layui-icon layui-icon-ok" style="color: #16b777;"></i>' : '<i class="layui-icon layui-icon-close"></i>';
						}
					}, {
						field: 'id_card',
						title: '身份证',
						align: 'center',
						width: 200,
						templet:function(d) {
							return d.id_card ? d.id_card : '--';
						}
					}, {
						field: 'id_card_photo',
						title: '身份证照',
						align: 'center',
						width: 150,
						templet:function(d) {
							return d.id_card_photo ? '<img src="' + d.id_card_photo + '" width="80" onclick="showBigImage(this)">' : '--';
						}
					}, {
						field: 'coin',
						title: '金币',
						align: 'center',
						width: 120
					}, {
						field: 'mobile',
						title: '手机号码',
						align: 'center',
						width: 120
					}, {
						field: 'mobile_status',
						title: '手机认证',
						align: 'center',
						width: 100,
						templet:function(d) {
							return parseInt(d.mobile_status) === 1 ? '<i class="layui-icon layui-icon-ok" style="color: #16b777;"></i>' : '<i class="layui-icon layui-icon-close"></i>';
						}					
					}, {
						field: 'securitypwd',
						title: '设置安全码',
						align: 'center',
						width: 100,
						templet:function(d) {
							return d.securitypwd != '' ? '<i class="layui-icon layui-icon-ok" style="color: #16b777;"></i>' : '<i class="layui-icon layui-icon-close"></i>';
						}					
					}, {
						field: 'qrcode_invite',
						title: '邀请码',
						align: 'center',
						minWidth: 150
					}, {
						field: 'invite_num',
						title: '邀请人数',
						align: 'center',
						minWidth: 100
					}, {
						field: 'register_time',
						title: '注册时间',
						align: 'center',
						width: 150
					}, {
						field: 'login_num',
						title: '登录次数',
						align: 'center',
						width: 100
					}, {
						field: 'status',
						title: '状态',
						toolbar: '#status',
						align: 'center',
						width: 60
					}, {
						field: 'right',
						fixed: 'right',
						title: '操作',
						align: 'center',
						width: 136,
						templet:function(d){
							let btn1 = '<span class="layui-btn layui-btn-xs layui-btn-normal" lay-event="view">详情</span><span class="layui-btn layui-btn-xs" lay-event="edit">编辑</span>';
							let btn2 = '<span class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">禁用</span>';
							let btn3 = '<span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="open">启用</span>';
							if(d.status == 1){
								return '<div class="layui-btn-group">'+btn1+btn2+'</div>';
							}else{
								return '<div class="layui-btn-group">'+btn1+btn3+'</div>';
							}							
						}
					}
				]
			]
		});

		window.showBigImage = function (e) {
			layer.open({
				type: 1,
				title: false,
				closeBtn: true,
				shadeClose: true, //点击阴影关闭
				area: [$(e).width + 'px', $(e).height + 'px'], //宽高
				content: "<img src=" + $(e).attr('src') + " />"
			});
		};

		//监听行工具事件
		table.on('tool(user)', function (obj) {
			var data = obj.data;
			if (obj.event === 'view') {
				tool.side('{:url("user/view")}?id=' + data.id);
				return;
			}
			else if (obj.event === 'edit') {
				tool.side('{:url("user/edit")}?id=' + data.id);
				return;
			}
			else if (obj.event === 'del') {
				layer.confirm('您确定要禁用该用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("{:url('user/disable')}", { id: data.id, status: 0 }, callback);
					layer.close(index);
				});
			} else if (obj.event === 'open') {
				layer.confirm('您确定要启用该用户', {
					icon: 3,
					title: '提示'
				}, function (index) {
					let callback = function (e) {
						layer.msg(e.msg);
						if (e.code == 0) {
							layer.close(index);
							layui.pageTable.reload()
						}
					}
					tool.post("{:url('user/disable')}", { id: data.id, status: 1 }, callback);
					layer.close(index);
				});
			}
		});
		//监听搜索提交
		form.on('submit(webform)', function (data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords,
					attach: data.field.attach,
					start_time: data.field.start_time,
					end_time: data.field.end_time
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->