{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新建章节卷</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">作品ID<font>*</font></td>
			<td><input type="text" name="bookid"  lay-verify="required" lay-reqText="请完善作品ID" value="" autocomplete="off" placeholder="请输入作品ID" class="layui-input"></td><td class="layui-td-gray-2">卷名称</td>
			<td><input type="text" name="title"  value="" autocomplete="off" placeholder="请输入卷名称" class="layui-input"></td><td class="layui-td-gray-2">排序</td>
			<td><input type="text" name="sort"  value="" autocomplete="off" placeholder="请输入排序" class="layui-input"></td>
		</tr>
				<tr><td class="layui-td-gray-2">描述</td>
			<td colspan="5"><textarea name="desc"  placeholder="请输入描述" class="layui-textarea"></textarea></td>
		</tr>
	</table>
	<div class="pt-3">
		<input type="hidden" name="id" value="0"/>
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">立即提交</button>
		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	var moduleInit = ['tool'];

	function feiniaoInit() {
		var form = layui.form, tool = layui.tool;
		
		
				
		//监听提交
		form.on('submit(webform)', function (data) {
			
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("{:url('volume/add')}", data.field, callback);
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->