{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">章节卷详情</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">作品ID</td>
			<td>{$detail.bookid}</td><td class="layui-td-gray-2">卷名称</td>
			<td>{$detail.title}</td><td class="layui-td-gray-2">排序</td>
			<td>{$detail.sort}</td>
		</tr><tr><td class="layui-td-gray-2">添加时间</td>
			<td>{$detail.create_time|time_format=###,'Y-m-d'}</td><td class="layui-td-gray-2">修改时间</td>
			<td>{$detail.update_time|time_format=###,'Y-m-d'}</td><td colspan='2'></td>
		</tr><tr><td class="layui-td-gray-2">描述</td>
			<td colspan="5">{$detail.desc}</td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->