{extend name="common/base"/}
<!-- 主体 -->
{block name="body"}
<div class="layui-form p-4">
	<h3 class="pb-3">关注详情</h3>
	<table class="layui-table layui-table-form">
		<tr><td class="layui-td-gray-2">类型</td>
			<td>
				{eq name="$detail.type" value="0"}选项一{/eq}
				{eq name="$detail.type" value="1"}选项二{/eq}
			</td><td class="layui-td-gray-2">关注人</td>
			<td>{$detail.user_id}</td><td class="layui-td-gray-2">被关注人</td>
			<td>{$detail.from_id}</td>
		</tr><tr><td class="layui-td-gray-2">创建时间</td>
			<td>{$detail.create_time|time_format=###,'Y-m-d'}</td><td colspan='4'></td>
		</tr>
	</table>
</div>
{/block}
<!-- /主体 -->